@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #aaa #000;
}

body {
  overflow-y: scroll;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 40px 5%;
  min-height: 80vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


@media screen and (max-width: 500px) {
  main {
    margin: 15px 1%;
  }
}
